---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: ${name}-${broker_provider}-broker
  namespace: ${namespace}-${ownerDomain}-dev
spec:
  encryptedData:
    broker.host: ${broker_host_dev}
    broker.port: ${broker_port_dev}
    broker.password: ${broker_password_dev}
    broker.topics: ${broker_topics_dev}