---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: ${name}-${cache_provider}-cache
  namespace: ${namespace}-dev
spec:
  encryptedData:
    cache.host: ${cache_host_dev}
    cache.port: ${cache_port_dev}
    cache.password: ${cache_password_dev}