- name: broker-init
          image: confluentinc/cp-kafkacat:7.1.9
          command:
            - /bin/bash
            - -c
            - |
              providers=\${BROKER_PROVIDERS//,/ };
              for provider in \${providers[@]};
              do
                BROKER_SERVERS_KEY="\$provider"_"\$BROKER_SERVERS_KEY"
                BROKER_SERVERS=\${!BROKER_SERVERS_KEY}

                if [ \$BROKER_SERVERS ]; then
                  until kafkacat -L -b \$BROKER_SERVERS > /dev/null 2>&1 ; do echo waiting for broker; sleep 2; done;
                fi
              done;
          envFrom:
            - secretRef:
                name: {{ .Values.broker.brokerSecret }}
          env:
            - name: BROKER_PROVIDERS
              value: {{ .Values.broker.brokerProviders }}
            - name: BROKER_SERVERS_KEY
              value: {{ .Values.broker.brokerServersSuffix }}
        - name: broker-topics-init
          image: bitnami/kafka:3.3.1-debian-11-r22
          command:
            - /bin/bash
            - -c
            - |
              providers=\${BROKER_PROVIDERS//,/ };
              for provider in \${providers[@]};
              do
                BROKER_SERVERS_KEY="\$provider"_"\$BROKER_SERVERS_KEY"
                BROKER_SERVERS=\${!BROKER_SERVERS_KEY}
                BROKER_TOPICS_KEY="\$provider"_"\$BROKER_TOPICS_KEY_SUFFIX"
                BROKER_TOPICS=\${!BROKER_TOPICS_KEY}

                if [ \$BROKER_SERVERS ]; then
                  topics=\${BROKER_TOPICS//,/ };
                  for topic in \${topics[@]};
                  do
                    until /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server \$BROKER_SERVERS --describe --topic \$topic > /dev/null 2>&1 ;
                    do
                      echo waiting for broker topic: \$topic creation; sleep 2;
                    done;
                  done;
                fi
              done;
          env:
            - name: BROKER_PROVIDERS
              value: {{ .Values.broker.brokerProviders }}
            - name: BROKER_SERVERS_KEY
              value: {{ .Values.broker.brokerServersSuffix }}
            - name: BROKER_TOPICS_KEY_SUFFIX
              value: {{ .Values.broker.brokerTopicsKeySuffix }}