- name: broker-init
          image: edenhill/kafkacat:1.6.0
          command:
            - sh
            - -c
            - |
              until kafkacat -L -b \$BROKER_HOST:\$BROKER_PORT > /dev/null 2>&1 ; do echo waiting for broker; sleep 2; done;
          env:
            - name: BROKER_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.broker.brokerSecret }}
                  key: {{ .Values.broker.brokerHostKey }}
            - name: BROKER_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.broker.brokerSecret }}
                  key: {{ .Values.broker.brokerPortKey }}
        - name: broker-topics-init
          image: bitnami/kafka:3.3.1-debian-11-r22
          command:
            - /bin/bash
            - -c
            - |
              topics=\${BROKER_TOPICS//,/ };
              for topic in \${topics[@]};
              do
                until /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server \$BROKER_HOST:\$BROKER_PORT --describe --topic \$topic > /dev/null 2>&1 ;
                do
                  echo waiting for broker topic: \$topic creation; sleep 2;
                done;
              done;
          env:
            - name: BROKER_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.broker.brokerSecret }}
                  key: {{ .Values.broker.brokerHostKey }}
            - name: BROKER_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.broker.brokerSecret }}
                  key: {{ .Values.broker.brokerPortKey }}
            - name: BROKER_TOPICS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.broker.brokerSecret }}
                  key: {{ .Values.broker.brokerTopicsKey }}