---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: ${name}-${database_provider}-database
  namespace: ${namespace}-${ownerDomain}-dev
spec:
  encryptedData:
    database.host: ${database_host_dev}
    database.port: ${database_port_dev}
    database.dbname: ${database_dbname_dev}
    database.username: ${database_username_dev}
    database.password: ${database_password_dev}