broker:
        brokerSecret: "${name}-${broker_provider}-broker"
        brokerHostKey: "broker.host"
        brokerPortKey: "broker.port"
        brokerPasswordKey: "broker.password"
        brokerTopicsKey: "broker.topics"