broker:
        brokerSecret: "${name}-${broker_provider}-broker"
        brokerProviders: "${broker_providers}"
        brokerHostKeySuffix: "broker_host"
        brokerPortKeySuffix: "broker_port"
        brokerPasswordKeySuffix: "broker_password"
        brokerTopicsKeySuffix: "broker_topics"