broker:
        brokerSecret: "${name}-${broker_provider}-broker"
        brokerProviders: "${broker_providers}"
        brokerHostKeySuffix: "broker-host"
        brokerPortKeySuffix: "broker-port"
        brokerPasswordKeySuffix: "broker-password"
        brokerTopicsKeySuffix: "broker-topics"