memdb:
        memdbSecret: "${name}-${memdb_provider}-memdb"
        memdbProviders: "${memdb_providers}"
        memdbHostKey: "memdb-host"
        memdbPortKey: "memdb-port"
        memdbPasswordKey: "memdb-password"