memdb:
        memdbSecret: "${name}-${memdb_provider}-memdb"
        memdbProviders: "${memdb_providers}"
        memdbHostKeySuffix: "memdb_host"
        memdbPortKeySuffix: "memdb_port"
        memdbUsernameKeySuffix: "memdb_username"
        memdbPasswordKeySuffix: "memdb_password"