memdb:
        memdbSecret: "${name}-${memdb_provider}-memdb"
        memdbProviders: "${memdb_providers}"
        memdbHostKeySuffix: "memdb-host"
        memdbPortKeySuffix: "memdb-port"
        memdbPasswordKeySuffix: "memdb-password"