database:
        databaseSecret: "${name}-${database_provider}-database"
        databaseProviders: "${database_providers}"
        databaseHostKeySuffix: "database-host"
        databasePortKeySuffix: "database-port"
        databaseNameKeySuffix: "database-name"
        databaseUserKeySuffix: "database-user"
        databasePasswordKeySuffix: "database-password"