database:
        databaseSecret: "${name}-${database_provider}-database"
        databaseProviders: "${database_providers}"
        databaseHostKey: "database-host"
        databasePortKey: "database-port"
        databaseNameKey: "database-name"
        databaseUserKey: "database-user"
        databasePasswordKey: "database-password"