database:
        databaseSecret: "${name}-${database_provider}-database"
        databaseProviders: "${database_providers}"
        databaseHostKeySuffix: "database_host"
        databasePortKeySuffix: "database_port"
        databaseNameKeySuffix: "database_name"
        databaseUserKeySuffix: "database_user"
        databasePasswordKeySuffix: "database_password"