---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: ${name}-${broker_provider}-broker
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
spec:
  encryptedData:${broker_properties_alpha}
  template:
    data: ${broker_template_alpha}
