- name: memdb-init
          image: bitnami/redis:6.2
          command:
            - /bin/bash
            - -c
            - |
              providers=\${MEMDB_PROVIDERS//,/ };
              for provider in \${providers[@]};
              do
                MEMDB_HOST_KEY="\$provider"_"\$MEMDB_HOST_KEY_SUFFIX"
                MEMDB_HOST=\${!MEMDB_HOST_KEY}
                MEMDB_PORT_KEY="\$provider"_"\$MEMDB_PORT_KEY_SUFFIX"
                MEMDB_PORT=\${!MEMDB_PORT_KEY}
                MEMDB_PASSWORD_KEY="\$provider"_"\$MEMDB_PASSWORD_KEY_SUFFIX"
                MEMDB_PASSWORD=\${!MEMDB_PASSWORD_KEY}
                MEMDB_USERNAME_KEY="\$provider"_"\$MEMDB_USERNAME_KEY_SUFFIX"
                MEMDB_USERNAME=\${!MEMDB_USERNAME_KEY}
                if [ \$MEMDB_HOST ] && [ \$MEMDB_PORT ] && [ \$MEMDB_PASSWORD ] && [ \$MEMDB_USERNAME ]; then
                  until redis-cli -a `echo -n \$MEMDB_USERNAME:\$MEMDB_PASSWORD` -h \$MEMDB_HOST -p \$MEMDB_PORT --no-auth-warning PING; do echo waiting for memdb; sleep 2; done;
                fi
              done;
          envFrom:
            - secretRef:
                name: {{ .Values.memdb.memdbSecret }}
          env:
            - name: MEMDB_PROVIDERS
              value: {{ .Values.memdb.memdbProviders }}
            - name: MEMDB_PASSWORD_KEY_SUFFIX
              value: {{ .Values.memdb.memdbPasswordKeySuffix }}
            - name: MEMDB_HOST_KEY_SUFFIX
              value: {{ .Values.memdb.memdbHostKeySuffix }}
            - name: MEMDB_PORT_KEY_SUFFIX
              value: {{ .Values.memdb.memdbPortKeySuffix }}
            - name: MEMDB_USERNAME_KEY_SUFFIX
              value: {{ .Values.memdb.memdbUsernameKeySuffix }}
