---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: ${name}-${memdb_provider}-memdb
  namespace: ${namespace}-${ownerDomain}-dev
spec:
  encryptedData:
    memdb.host: ${memdb_host_dev}
    memdb.port: ${memdb_port_dev}
    memdb.password: ${memdb_password_dev}
    # todo 修改工具库后删除下面三个
    memory-db.host: ${memdb_host_dev}
    memory-db.port: ${memdb_port_dev}
    memory-db.password: ${memdb_password_dev}