---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: ${name}-${database_provider}-database
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
spec:
  encryptedData:${database_properties_release}