cache:
        cacheSecret: "${name}-${cache_provider}-cache"
        cacheProviders: "${cache_providers}"
        cacheHostKeySuffix: "cache_host"
        cachePortKeySuffix: "cache_port"
        cacheUsernameKeySuffix: "cache_username"
        cachePasswordKeySuffix: "cache_password"