cache:
        cacheSecret: "${name}-${cache_provider}-cache"
        cacheProviders: "${cache_providers}"
        cacheHostKeySuffix: "cache-host"
        cachePortKeySuffix: "cache-port"
        cachePasswordKeySuffix: "cache-password"