cache:
        cacheSecret: "${name}-${cache_provider}-cache"
        cacheProviders: "${cache_providers}"
        cacheHostKey: "cache-host"
        cachePortKey: "cache-port"
        cachePasswordKey: "cache-password"